<div class="row-1">
      <mat-toolbar fxLayout="row"
                   fxLayoutAlign="space-between"
                   FxFlexFill
                   style="height: 4em; position: fixed; z-index: 999; background: rgba(69,115,141, 1.0);">

            <!--style="height: 4em; position: fixed; z-index: 999; background: transparent">-->
            <!--<div [style.background]="'magenta'" fxFlex="0 0 1em"></div>-->
          <div [style.background]="'blue'"
               [style.z-index]="'900'"
               fxFlex="0 1 2.5em"
               fxFlex.lt-md="1 1 auto">

          </div>
          <div fxFlex="0 1 15em">
            <img src="../../../assets/EG%20180612%20Flowexcellence%20Typehead.svg"
                 alt="Flow Excellence"
                 fxFlex="0 1 100%"
                 fxFlexAlign="center"
                 style="height: 70%">
          </div>
            <!--<div [style.background]="'cyan'" fxFlex></div>-->
          <div fxFlex></div>
          <div fxLayoutAlign="space-between" fxFlexAlign="center">
<!--                <button mat-icon-button matTooltip="'Open all'" [matTooltipPosition]="'right'"
                        [matTooltipClass]="'dash-tooltip-class'">-->
            <button mat-icon-button matTooltip="Open all"
                    [routerLink]="['./dashboard/all/', {outlets: {sidenavcontent: 'all'}}]"
                    routerLinkActive="menu-active"
                    [routerLinkActiveOptions]="{exact: true}">
              <mat-icon>view_module</mat-icon>
            </button>
                <!--<button mat-icon-button fxFlexAlign="center" matTooltip="Search" [matTooltipPosition]="'right'"
                        [matTooltipClass]="'dash-tooltip-class'">-->
            <button mat-icon-button matTooltip="Search">
              <mat-icon>search</mat-icon>
            </button>
<!--                <button mat-icon-button fxFlexAlign="end" matTooltip="Menu" [matTooltipPosition]="'right'"
                        [matTooltipClass]="'dash-tooltip-class'">-->
            <button mat-icon-button matTooltip="Open menu">
              <mat-icon>menu</mat-icon>
            </button>
          </div>

      </mat-toolbar>
</div>


