<mat-sidenav-container style="min-height: 100%;" fxFlex>
  <mat-sidenav [opened]="true"
               mode="side"
               style="width: auto; z-index: 999; background: rgb(69,115,141)"
               [fixedInViewport]="true"
               [fixedTopGap]="'80'"
               [fixedBottomGap]="0">
    <mat-list FxLayout="column">
      <a mat-list-item *ngFor="let card of cards" fxFlexAlign="start">
        <a mat-button
           style="text-align:left"
           matTooltip="{{card.input.subHeader.value}}"
           [matTooltipPosition]="'right'"
           [matTooltipHideDelay]="50">
            <!--<button mat-icon-button matTooltip="{{card.input.caption.value}}"  [matTooltipPosition]="'bottom'"
                    [matTooltipClass]="'dash-tooltip-class'"-->
<!--          <mat-icon style="margin: auto;" class="fa" ngClass="{{card.input.iconClass.value}}"></mat-icon>-->
<!--          <mat-icon>search</mat-icon> -->
            {{card.input.avatar.value}}
        </a>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list [cols]="cols | async">
      <mat-grid-tile *ngFor="let card of cards"
                     [colspan]="card.input.cols.value | async"
                     [rowspan]="card.input.rows.value | async">
        <app-dashboard-cards-spawner [card]="card"></app-dashboard-cards-spawner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
