<!--<mat-sidenav-container fxFlex="1 1 auto" fxLayout="row">-->
<mat-sidenav-container fxFlex="1 1 auto" fxLayout="row">

  <mat-sidenav [opened]="true"
               mode="side"
               style="width: auto; z-index: 900; background: rgb(69,115,141)"
               [fixedInViewport]="true"
               [fixedTopGap]="'80'"
               [fixedBottomGap]="0">
    <mat-list FxLayout="column">
      <a mat-list-item *ngFor="let card of cards" fxFlexAlign="start">
        <!--routerLink="{{card.input.routerLink.value}}"-->
        <!--[routerLink]="[{ outlets: {sidenavcontent: [card.input.routerLink.value]}}]"-->
        <!--[routerLink]="[{ outlets: {sidenavcontent: ['/dash-page/cfd']}}]"-->
          <!--[routerLink]="['./' + card.input.routerLink.value.path.toString(),
          { outlets: {'sidenavcontent': [card.input.routerLink.value.end] }}]"-->
        <a mat-button
           style="text-align:left"
           matTooltip="{{card.input.subHeader.value}}"
           [matTooltipPosition]="'right'"
           [matTooltipHideDelay]="50"

           [routerLink]="['./' + card.input.routerLink.value.path.toString(),
                           { outlets: {'sidenavcontent': [card.input.routerLink.value.end] }}]"
           routerLinkActive="menu-active"
           [routerLinkActiveOptions]="{exact: true}">
            <!--<button mat-icon-button matTooltip="{{card.input.caption.value}}"  [matTooltipPosition]="'bottom'"
                    [matTooltipClass]="'dash-tooltip-class'"-->
<!--          <mat-icon style="margin: auto;" class="fa" ngClass="{{card.input.iconClass.value}}"></mat-icon>-->
<!--          <mat-icon>search</mat-icon> -->
            {{card.input.avatar.value}}
        </a>
      </a>
    </mat-list>
  </mat-sidenav>

<!--    <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column"
                         style="background: orange">-->
  <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column"
                       style="background: orange">

      <!--    <app-grid-list></app-grid-list>-->
    <!-- TODO (WM): This is the outlet for 1st children level (not upper cards) -->
    <router-outlet></router-outlet>
    <!-- TODO (WM): sidenavcontent for named 2nd level routes -->
      <router-outlet name="sidenavcontent"></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
