<div fxLayout="column" fxLayoutAlign="center">
    <h1>What is CFD?</h1>
    <div fxFlex="auto"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxFlexFill
         style="background: blue;">
        <div fxFlex="2 2 auto"
             fxLayoutAlign="center center"
             style="height: 90%; background: red">

            CFD means
            <br/><br/>
            Computational Fluid dynamics ...
            <br/><br/>
            <br/><br/>
            Really! No joke!

        </div>
        <div fxFlex="2 1 100%"
             style="text-align: center; background: green">
            CFD means
            <br/><br/>
            Computational Fluid dynamics ...ldfjkhk jsdfhksd fjhsklfdj hlksgdjhljh
            <br/><br/>
            Really! No joke!
        </div>

    </div>

    <div fxFlex="auto"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxFlexFill
         style="background: blue;">
        <div fxFlex="2 2 auto"
             fxLayoutAlign="center center"
             style="height: 90%; background: red">

            CFD means
            <br/><br/>
            Computational Fluid dynamics ...
            <br/><br/>
            <br/><br/>
            Really! No joke!

        </div>
        <div fxFlex="2 1 100%"
             style="text-align: center; background: green">
            CFD means
            <br/><br/>
            Computational Fluid dynamics ...ldfjkhk jsdfhksd fjhsklfdj hlksgdjhljh
            <br/><br/>
            Really! No joke!
        </div>

    </div>
</div>